<% provide(:title, "All Users") %>

<section class="header">
  <h4>All Users</h4>
</section>

<%= form_tag users_path, method: :get  do %>
  <%= search_field_tag :search, params[:search], class: "form-control", placeholder: "Search by username" %>
  <small class="text-muted">Press ↵ enter to search</small>
<% end %>

<% if @users.blank? %>
  <section class="well">
    No user present
  </section>
<% else %>
  <section class="list">
    <% @users.each do |user| %>
      <div class="list-item" id="user_<%= user.id %>">
        <span class="user-name"><%= link_to user.username, "/#{user.username}", title: "Go to #{user.username}" %></span>

        <% if user != current_user %>
          <div class="action-buttons">
            <% if current_user.mutual_friend_ids.include?(user.id.to_s) %>
              <span title="Already Friend">Already Friend</span>
            <% elsif @pending_user_ids.include?(user.id) %>
              <span title="Request Received">Request Received</span>
            <% elsif @sent_user_ids.include?(user.id) %>
              <span title="Request Sent">Request Sent</span>
            <% else %>
              <%= link_to "Send Request", friend_requests_path(friend_request: { friend_id: user.id }), method: :post, title: "Send Request", class: "text-primary", remote: true %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </section>
<% end %>
