<% provide(:title, "#{@user.username}'s timeline") %>

<h4 class="mb-5"><%= @user.username %>'s timeline</h4>

<div class="row">
  <% @locations.reverse.each do |location| %>
    <div class="col-4">
      <div class="card p-3 mb-4">
        <h6><%= location.address %></h6>
        <small class="text-muted mb-2">Shared by <%= location.user == current_user ? "you" : location.user.username %></small>
        <img width="300" height="200" src="https://maps.geoapify.com/v1/staticmap?style=osm-carto&width=300&height=200&center=lonlat:<%= location.longitude %>,<%= location.latitude %>&zoom=14&apiKey=cb9d20bdd8dd4e999368d266a01d3c73" alt="<%= location.address %>">
      </div>
    </div>
  <% end %>

  <% if @locations.blank? %>
    <div class="col-12">
      <div class="jumbotron text-center">
        <p>No location has been shared by <%= @user.username %>.</p>
      </div>
    </div>
  <% end %>
</div>
