<div id="map_<%= object.id %>" class="map"></div>

<script>
  var baseMapLayer = new ol.layer.Tile({
    source: new ol.source.OSM()
  });
  var map = new ol.Map({
    target: 'map_<%= object.id %>',
    layers: [ baseMapLayer],
    view: new ol.View({
            center: ol.proj.fromLonLat([<%= object.longitude %>, <%= object.latitude %>]),
            zoom: 7 //Initial Zoom Level
          })
  });

  var marker = new ol.Feature({
    geometry: new ol.geom.Point(
      ol.proj.fromLonLat([<%= object.longitude %>, <%= object.latitude %>])
    ),
  });

  var vectorSource = new ol.source.Vector({
    features: [marker]
  });
  var markerVectorLayer = new ol.layer.Vector({
    source: vectorSource,
  });
  map.addLayer(markerVectorLayer);
</script>
